/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/codex-addons
/.tmp
/phpDocumentor.phar
/php-plantuml.phar
/public/vendor
/.idea/deployment.xml
/.idea/workspace.xml
/jenkins
/job-dsl-seed
