// 22. Prism
// ==========================================================================

// prism selector
$code-selector : "code[class*=\"language-\"], pre[class*=\"language-\"]";
$code-selector-block : "pre[class*=\"language-\"]";
$code-selector-inline : ":not(pre) > code[class*=\"language-\"]";

// generic stuff
$code-font-size : 16px;
$code-line-height : 17px;

$code-tab-size : 4;
$code-hyphens : none;

$code-block-padding : 12px;
$code-inline-padding : 2px 6px;
$code-border-radius : 5px;

$code-border : 1px solid #c5d0dc;
//$code-border: 			                                                1px solid #e1e1e8 	;
$code-background : #7f8892;
$code-color-fade : #bebec5;
$code-text-shadow : none;
$code-box-shadow : 1px 1px .3em -.1em #000000 inset;

// prism tokens
$code-color : #0a3b52;
$code-color-comment : #77b767;
$code-color-delimiter : $code-color;
$code-color-class-name : $code-color;
$code-color-punctuation : #546e7a;
$code-color-property : #4e2f26; // #90a4ae
$code-color-package : #6b4d4d;
$code-color-selector : #669900;
$code-color-operator : #a67f59;
$code-color-atrule : #0077aa;
$code-color-function : #195471;
$code-color-regex : #ee9900;
$code-color-prolog : $code-color-comment;
$code-color-doctype : $code-color-comment;
$code-color-cdata : $code-color-comment;
$code-color-tag : $code-color-comment;
$code-color-boolean : $code-color-property;
$code-color-number : #138cec;
$code-color-constant : $code-color-property;
$code-color-symbol : $code-color-property;
$code-color-deleted : $code-color-property;
$code-color-attr-name : $code-color-selector;
$code-color-string : $code-color-selector;
$code-color-char : $code-color-selector;
$code-color-builtin : $code-color-selector;
$code-color-inserted : $code-color-selector;
$code-color-keyword : #093246; //#607D8B
$code-color-variable : #78909c;
$code-color-line-numbers : $code-color;


